In [0]:
import pandas as pd
import numpy as np
from google.colab import files

In [2]:
fx = pd.read_csv('https://raw.githubusercontent.com/AndrewMarksArt/DS-Unit-1-Sprint-5-Data-Storytelling-Blog-Post/master/historical_fx_rates.csv')
fx.head()

         DATE  DEXCHUS  DEXDNUS  DEXHKUS  ...  DEXUSAL  DEXUSEU  DEXUSNZ  DEXUSUK
0  1971-01-04      NaN   7.4850      NaN  ...   1.1127      NaN   1.1138   2.3938
1  1971-01-05      NaN   7.4872      NaN  ...   1.1132      NaN   1.1143   2.3949
2  1971-01-06      NaN   7.4839      NaN  ...   1.1140      NaN   1.1151   2.3967
3  1971-01-07      NaN   7.4850      NaN  ...   1.1138      NaN   1.1150   2.3963
4  1971-01-08      NaN   7.4850      NaN  ...   1.1124      NaN   1.1154   2.3972

[5 rows x 16 columns]

In [3]:
auction = pd.read_csv('https://raw.githubusercontent.com/AndrewMarksArt/DS-Unit-1-Sprint-5-Data-Storytelling-Blog-Post/master/Damien_Hirst_Auction_Results.csv')
auction.drop(['ID_Batch_Loop#', 'Artist_Name', 'Date_Created', 'Size'], axis=1, inplace=True)
auction = auction.rename(columns={'Sale_Date': 'Date'})
auction.head()

                                    Title  ...           Date
0                SPOT DRAWING NO. 2, 1990  ...  Jun. 27, 2018
1         Supreme Skate Deck Red #7, 1987  ...  Jun. 04, 2017
2      Supreme Skate Deck Yellow #6, 1987  ...  Jun. 04, 2017
3                     Pharmacy, circa1990  ...  Jul. 16, 2015
4  The Complete Spot Paintings, 1986-2011  ...  Jun. 03, 2015

[5 rows x 8 columns]

In [0]:
def clean_estimate(estimate):
  """
  takes the estimate column, adds low estimate, high estimate, and currency
  columns to the dataframe and drops the original estimate column.
  :param: estimate = list (df column)
  returns: none, adds the columns and drop the column when called
  """
  low = []
  high = []
  currency = []

  for i in range(len(estimate)):
    est = estimate[i]
    try:
      temp = est.split()
      if len(temp) == 4:
        low.append(temp[0])
        high.append(temp[2])
        currency.append(temp[3])
      elif len(temp) == 2:
        low.append(temp[0])
        high.append(np.nan)
        currency.append(temp[1])
      else:
        low.append(np.nan)
        high.append(np.nan)
        currency.append(np.nan)
    except:
      pass
    
  auction['Low Estimate'] = low
  auction['High Estimate'] = high
  auction['Currency'] = currency
  auction.drop(['Estimate_Range'], axis=1, inplace=True)
  return

In [0]:
def clean_realized_price(prices):
  """
  takes realized prices from df and removes currency leaving just the numeric value
  :param: prices = list, df column realized_price
  return: list
  """
  for i in range(len(prices)):
    try:
      temp = prices[i].split()
      if len(temp) < 2:
        prices[i] = -1
      else:
        prices[i] = temp[0]
    except:
      pass
  
  return prices

In [0]:
clean_estimate(auction['Estimate_Range'])
auction['Realized_Price'] = clean_realized_price(auction['Realized_Price'])

In [0]:
for i in range(len(auction['Currency'])):
  try:
    if '*' in auction['Currency'][i]:
      auction['Currency'][i] = 'EUR'
    if 'Sold' in auction['Currency'][i]:
      auction['Currency'][i] = np.nan
  except:
    pass

In [0]:
auction['Currency'].fillna('USD', inplace=True)

In [0]:
country_dict = {'GBP': 'United Kingdom', 'USD': 'United States', 'EUR': 'Europe', 'HKD': 'Hong Kong', 'CNY': 'China', 'CHF': 'Switzerland',
             'SEK': 'Sweden', 'JPY': 'Japan', 'KRW': 'South Korea', 'AUD': 'Australia', 'NOK': 'Norway', 'ZAR': 'South Africa', 'DKK': 'Denmark', 'NZD': 'New Zealand', 
               'TWD': 'Taiwan', 'SGD': 'Singapore', 'MXN': 'Mexico', 'CZK': 'Czech Republic'}

In [0]:
country = []
currency = auction['Currency']

for i in range(len(currency)):
  try:
    country.append(country_dict.get(currency[i]))
  except:
    pass
    
auction['Country'] = country

In [0]:
sale = auction['Date']
for i in range(len(sale)):
  try:
    if 'no' in sale[i]:
      sale[i] = np.nan
  except:
    pass

In [0]:
auction['Date'] = pd.to_datetime(auction['Date'])

In [13]:
auction.head()

                                    Title  ...         Country
0                SPOT DRAWING NO. 2, 1990  ...  United Kingdom
1         Supreme Skate Deck Red #7, 1987  ...   United States
2      Supreme Skate Deck Yellow #6, 1987  ...   United States
3                     Pharmacy, circa1990  ...  United Kingdom
4  The Complete Spot Paintings, 1986-2011  ...  United Kingdom

[5 rows x 11 columns]

In [14]:
auction_location = auction[['Date', 'Country']]
auction_location.head()

        Date         Country
0 2018-06-27  United Kingdom
1 2017-06-04   United States
2 2017-06-04   United States
3 2015-07-16  United Kingdom
4 2015-06-03  United Kingdom

In [15]:
china = fx[['DATE', 'DEXCHUS']]
china['Country'] = 'China'
china = china.rename(columns={'DATE': 'Date', 'DEXCHUS': 'Value'})
china = china[['Date', 'Country', 'Value']]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [16]:
denmark = fx[['DATE', 'DEXDNUS']]
denmark['Country'] = 'Denmark'
denmark = denmark.rename(columns={'DATE': 'Date', 'DEXDNUS': 'Value'})
denmark = denmark[['Date', 'Country', 'Value']]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [17]:
hong_kong = fx[['DATE', 'DEXHKUS']]
hong_kong['Country'] = 'Hong Kong'
hong_kong = hong_kong.rename(columns={'DATE': 'Date', 'DEXHKUS': 'Value'})
hong_kong = hong_kong[['Date', 'Country', 'Value']]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [18]:
japan = fx[['DATE', 'DEXJPUS']]
japan['Country'] = 'Japan'
japan = japan.rename(columns={'DATE': 'Date', 'DEXJPUS': 'Value'})
japan = japan[['Date', 'Country', 'Value']]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [19]:
south_korea = fx[['DATE', 'DEXKOUS']]
south_korea['Country'] = 'South Korea'
south_korea = south_korea.rename(columns={'DATE': 'Date', 'DEXKOUS': 'Value'})
south_korea = south_korea[['Date', 'Country', 'Value']]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [20]:
mexico = fx[['DATE', 'DEXMXUS']]
mexico['Country'] = 'Mexico'
mexico = mexico.rename(columns={'DATE': 'Date', 'DEXMXUS': 'Value'})
mexico = mexico[['Date', 'Country', 'Value']]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [21]:
norway = fx[['DATE', 'DEXNOUS']]
norway['Country'] = 'Norway'
norway = norway.rename(columns={'DATE': 'Date', 'DEXNOUS': 'Value'})
norway = norway[['Date', 'Country', 'Value']]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [22]:
sweden = fx[['DATE', 'DEXSDUS']]
sweden['Country'] = 'Sweden'
sweden = sweden.rename(columns={'DATE': 'Date', 'DEXSDUS': 'Value'})
sweden = sweden[['Date', 'Country', 'Value']]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [23]:
singapore = fx[['DATE', 'DEXSIUS']]
singapore['Country'] = 'Singapore'
singapore = singapore.rename(columns={'DATE': 'Date', 'DEXSIUS': 'Value'})
singapore = singapore[['Date', 'Country', 'Value']]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [24]:
switzerland = fx[['DATE', 'DEXSZUS']]
switzerland['Country'] = 'Switzerland'
switzerland = switzerland.rename(columns={'DATE': 'Date', 'DEXSZUS': 'Value'})
switzerland = switzerland[['Date', 'Country', 'Value']]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [25]:
taiwan = fx[['DATE', 'DEXTAUS']]
taiwan['Country'] = 'Taiwan'
taiwan = taiwan.rename(columns={'DATE': 'Date', 'DEXTAUS': 'Value'})
taiwan = taiwan[['Date', 'Country', 'Value']]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [0]:
australia = fx[['DATE', 'DEXUSAL']]
australia['Country'] = 'Australia'
australia = australia.rename(columns={'DATE': 'Date', 'DEXUSAL': 'Value'})
australia['Value'] = australia['Value'].apply(lambda x: 1/x)
australia = australia[['Date', 'Country', 'Value']]

In [0]:
europe = fx[['DATE', 'DEXUSEU']]
europe['Country'] = 'Europe'
europe = europe.rename(columns={'DATE': 'Date', 'DEXUSEU': 'Value'})
europe['Value'] = europe['Value'].apply(lambda x: 1/x)
europe = europe[['Date', 'Country', 'Value']]

In [0]:
new_zealand = fx[['DATE', 'DEXUSNZ']]
new_zealand['Country'] = 'New Zealand'
new_zealand = new_zealand.rename(columns={'DATE': 'Date', 'DEXUSNZ': 'Value'})
new_zealand['Value'] = new_zealand['Value'].apply(lambda x: 1/x)
new_zealand = new_zealand[['Date', 'Country', 'Value']]

In [0]:
united_kingdom = fx[['DATE', 'DEXUSUK']]
united_kingdom['Country'] = 'United Kingdom'
united_kingdom = united_kingdom.rename(columns={'DATE': 'Date', 'DEXUSUK': 'Value'})
united_kingdom['Value'] = united_kingdom['Value'].apply(lambda x: 1/x)
united_kingdom = united_kingdom[['Date', 'Country', 'Value']]

In [44]:
results = pd.concat([china, denmark, hong_kong, japan, south_korea, mexico,
                     norway, sweden, singapore, switzerland, taiwan, australia,
                     europe, new_zealand, united_kingdom])
results.shape

(189675, 3)

In [0]:
results['Date'] = pd.to_datetime(results['Date'])

In [46]:
results.dtypes

Date       datetime64[ns]
Country            object
Value             float64
dtype: object

In [47]:
merged = pd.merge(auction_location,
                  results,
                  on=['Date', 'Country'],
                  how='left')
merged.head()

        Date         Country     Value
0 2018-06-27  United Kingdom  0.761093
1 2017-06-04   United States       NaN
2 2017-06-04   United States       NaN
3 2015-07-16  United Kingdom  0.640985
4 2015-06-03  United Kingdom  0.651423

In [48]:
merged.shape

(6541, 3)

In [49]:
countries = merged['Country'].unique()
countries

array(['United Kingdom', 'United States', 'Europe', 'Hong Kong', 'China',
       'Switzerland', 'Sweden', 'Japan', 'South Korea', 'Australia',
       'Norway', 'South Africa', 'Denmark', 'New Zealand', 'Taiwan',
       'Singapore', 'Mexico', 'Czech Republic'], dtype=object)

In [0]:
df = pd.DataFrame()
count = 0

for i in range(len(countries)):
  country = countries[i]
  temp = merged[merged['Country'] == country]
  
  if country == 'United States':
    temp['Value'] = 1
  
  temp = temp.dropna(subset=['Date'])
  temp = temp.fillna(method='ffill')
  
  if count == 0:
    df = temp
    count += 1
  else:
    df = pd.concat([df, temp])

In [52]:
df.head()

        Date         Country     Value
0 2018-06-27  United Kingdom  0.761093
3 2015-07-16  United Kingdom  0.640985
4 2015-06-03  United Kingdom  0.651423
5 2015-03-10  United Kingdom  0.662866
6 2014-10-23  United Kingdom  0.623558

In [53]:
df.shape

(6490, 3)

In [54]:
df.isnull().sum()

Date        0
Country     0
Value      32
dtype: int64

In [0]:
results = df

In [0]:
file_name = 'cleaned_fx_data.csv'
export_csv = results.to_csv(file_name, index=None, header=True)

In [0]:
files.download('cleaned_fx_data.csv')